<h1>All Medical Conditions</h1>

<ul>
<% @conditions.each do |c| %>
    <li><strong><%= c.name %></strong> - <%= c.notes %><br> 
        Medication Taking: <%= c.medication.name %></li><br>
<% end %>
</ul>