<div class="conditions">
    <h1>All Medical Conditions</h1><br>
    
    <ul>
        <% @conditions.each do |c| %>
            <li><strong><%= c.name %></strong> - <%= c.notes %><br> 
                Medication: <strong><%= c.medication.name %></strong></li><br>
        <% end %>
    </ul>
    <br>
</div>