

<main role="main" class="container">

  <div class="starter-template">
    <h1>Welcome to MedList!</h1>
    <p class="lead">An application to quickly track all of your medications.</p>
  </div>

</main><!-- /.container -->
