<h1>Welcome to MedList!!!</h1>

<p>Please complete one of the following: </p>
<p><%= link_to 'Sign Up', signup_path %></p>
<p><%= link_to 'Log In', login_path %></p>
OR
<p><%= link_to 'Log In with Google', '/auth/google_oauth2' %></p>